{% extends 'base.html' %}
{% load js %}


{% block body %}
<div class="container-fluid">
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Uniocde -->
    <meta charset="utf-8">
    <!-- IE Compatiblity -->
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <!-- First Mobile Meta -->
    <meta name="viewport"  content="width=device-width, initial-scale=1.0">
    
    <!-- Title Of template -->
    <title>Health And Wellness</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins\bootstrap-datepicker-master\dist\css\bootstrap-datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrapValidator.min.css">
    <link rel="stylesheet" type="text/css" href="plugins\icheck\skins\all.css">
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">

    <!--[if IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![End if] -->

  </head>
  <body>
<!-- navbar start -->
	<nav class="navbar  navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Health And Wellness</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user_inputs.html">User Inputs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="login.html">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registration.html">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard_summary.html">Dashoard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  <!-- end navbar -->


<!-- login start -->

     <section id="loginform">
      <div class="container">
         <h2 class="head">Login</h2>
            <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5 col-xl-5">
                 <form  class="login-form-header bootstrap_validator" action="" method="" role="form" data-toggle="validator">
                    <div class="form-group">
                      <label class="padding">Garmin Username</label>
                      <input class="form-control" placeholder="enter garmin username" name="username" type="text" >
                    </div>
                    <div class="form-group">
                      <label class="padding">Garmin Password</label>
                     <input class="form-control" placeholder="enter garmin password" name="password" type="password" value="">
                    </div>
                   <div class="checkbox">
                   
                    <input name="remember" type="checkbox" value="Remember Me"> Remember Me 
                    <span class="float-right"><a href="forget.html">Forgot password?</a></span>
                    
                   </div>
                     <a href="" class="btn  btn-block btn-primary">Login</a>
                Don't have an account? <a href="registration.html">Register</a>
               </form>
               </div>
        </div>
       </div>
     </section>
<!-- login end -->

<!-- registration start -->
 <section id="registration">
      <div class="container">
            <h2 class="head">Registration</h4>
        <div class="row justify-content-center">
          
          <form  class=" col-sm-12  col-md-6 registration-form bootstrap_validator" data-toggle="validator"  role="form" action="" method="">
            <div class="form-group" class="col-md-12">
              <label>First Name</label>
              <input type="text"  name="first_name" class="form-control" placeholder="please enter first  name" required="">
            </div>
            <div class="form-group" class="col-md-12">
            <label>Last Name</label>
              <input type="text"  name="last_name" class="form-control" placeholder="please enter last name" required="">
            </div>
            <div class="form-group" class="col-md-12">
              <label>Height</label>
              <input type="text"  name="height" class="form-control" placeholder="please enter height" required="">
            </div> 
            <div class="form-group" class="col-md-12">
               <label>Weight</label>
              <input type="text"  name="weight" class="form-control" placeholder="please enter weight" required="">
            </div> 
   <fieldset class="form-group">
    <legend>select your gender</legend>
         <div class="form-check form-check-inline">
            <label class="form-check-label">
             <input class="form-check-input" type="radio" name="gender" id="" value="male" required=""> Male
            </label>
            <label class="form-check-label">
             <input class="form-check-input" type="radio" name="gender" id="" value="female" required=""> Female
             </label>
             <label class="form-check-label">
             <input class="form-check-input" type="radio" name="gender" id="" value="other" required=""> Other
             </label>
         </div>
   </fieldset>
       <div class="form-group" class="col-md-12">
           <label>Birthday</label>
              <input type="text"  name="dob" class="form-control datepicker" placeholder="please enter birthday" required="">
       </div>
       <div class="form-group" class="col-md-12">
           <label>Garmin username</label>
              <input type="text"  name="username" class="form-control" placeholder="please enter garmin username" required="">
       </div>
       <div class="form-group" class="col-md-12">
          <label>Garmin password</label>
              <input type="password"  name="password" class="form-control" placeholder="please enter garmin password" required="">
       </div>
       <div class="form-group" class="col-md-12">
           <label>Email</label>
              <input type="email" name="email" class="form-control" placeholder="please enter email" required="">
       </div>
       
       <div class="form-group">
         <label class="padding">Goals</label>
           <select class=" form-control" multiple="multiple" name="goals">
             <option value="">Maintain Overall Health</option>
             <option value="">improve health</option>
             <option value="">improve energy levels</option>
             <option value="">improve blood work levels</option>
           </select> 
       
       </div>
       <div class="form-group" class="col-md-12">
         <label class="padding">Daily Non Exercise Steps Goals</label>
           <input type="text" name="non_steps_goals" class="form-control" placeholder="enter stpes in numbers">
       </div>
       <div class="form-group" class="col-md-12">
         <label class="padding">Daily Sleep Goal</label>
           <input type="text" name="sleep_goal" class="form-control" placeholder="enter sleep time">
       </div>
       <div class="form-group" class="col-md-12">
         <label class="padding">Daily Movement Consistency Goal</label>
           <input type="text" name="movement_goal" class="form-control" placeholder="enter consistency goal">
       </div>
           <button type="submit" class="btn btn-block btn-primary">Sign Up</button>
                Already have an account? Please <a href="login.html"> Log In</a>
             <!-- <a href="index.html" class="btn btn-primary btn-lg btn-block">Submit</a>   -->
          </form>
        </div>
      </div> 
      </section>
<!-- ending of registration -->

<!-- start user inputs -->

<section id="user-inputs">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8  col-sm-12">
        <h2 class="head">Daily user inputs report</h2>
        <form class="user-inputs-form bootstrap_validator" role="form" data-toggle="validator">
         <label class="padding">Was your workout easy or hard</label>
          <select class="custom-select form-control" name="one">
            <option selected>select</option>
            <option value="1">Easy</option>
            <option value="2">Hard</option>
          </select>
          <label class="padding">Workout Effort Level</label>
          <select class="custom-select form-control">
            <option selected>select</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
          <label class="padding"> how much % unprocessed food consumed yesterday?</label>
            <select class="custom-select form-control">
             <option selected>select</option>
             <option value="1">0%</option>
              <option value="2">1%</option>
               <option value="3">2%</option>
                <option value="4">3%</option>
                 <option value="5">5%</option>
                  <option value="6">6%</option>
                   <option value="7">7%</option>
          </select>
           <label class="padding">Number of Alchol Drinks consumed yesterday?</label>
            <select class="custom-select form-control">
             <option selected>select</option>
             <option value="1">0.5</option>
              <option value="2">1</option>
               <option value="3">1.5</option>
                <option value="4">2</option>
                 <option value="5">2.5</option>
                  <option value="6">3</option>
                   <option value="7">3.5</option>
            </select>
            <label class="padding">Did you take any prescription or non prescription sleep aids last night?</label>
            <select class="custom-select form-control" id="prescription_select" >
              <option selected>Select</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>

              <!-- Hidden fields -->
              <div class="prescription_hidden_fields">

                <label class="padding">Did you smoke any substances whatsover</label>
                  <select class="custom-select form-control">
                    <option selected="">select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>


                <label class="padding">Did you ingest any prescription or non prescription medications</label>
                  <select class="custom-select form-control">
                    <option selected="">select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                  </select>
                
              </div>
              <!-- end of hidden fields -->



            <label class="padding">Yesterday Stress Level</label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="1">Low</option>
              <option value="2">Medium</option>
              <option value="3">High</option>
            </select>
            <label class="padding">Did you have any pain or twinges during or after your workout</label>
            <select class="custom-select form-control" id="pain_select">
              <option selected="select">select</option>
              <option value="1">Yes</option>
              <option vlaue="2">No</option>
            </select>

            <!-- hidden fields -->
           
           <div class="pain_hidden_fields">
             <label class="padding">Select the pain is from below dropdown</label>
             <select class="custom-select form-control">
               <option selected="select">select</option>
               <option value="">neck</option>
               <option value="">leg</option>
             </select>
           </div>

            <!-- end of hidden fields -->

            <label class="padding">Water Consumed During Workout</label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="">0 ounces</option>
              <option value="">1 ounces</option>
              <option value="">2 ounces</option>
              <option value="">3 ounces</option>
              <option value="">4 ounces</option>
              <option value="">5 ounces</option>
              <option value="">6 ounces</option>
              <option value="">7 ounces</option>
            </select>
            <label class="padding">How Much % Workout that User breathed in and out through nose</label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="">1%</option>
              <option value="">2%</option>
              <option value="">3%</option>
              <option value="">4%</option>
              <option value="">5%</option>
              <option value="">6%</option>
              <option value="">7%</option>
              <option value="">8%</option>
              <option value="">9%</option>
              <option value="">10%</option>
            </select>
            <label class="padding">Are you sick today?</label>
            <select class="custom-select form-control" id="sick_select">
              <option selected="">select</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>
            <!-- hidden fields -->
            <div class="sick_hidden_fields">
              <input type="textarea" name="sick_comment" rows="5" columns="5" class="form-control" placeholder="type here your illness">
            </div>
            <!-- end of hidden files -->
            <label class="padding">Did you stand for 3 hours yesterday when you worked </label>
            <select class="custom-select form-control" id="sick_select">
              <option selected="">select</option>
              <option value="1">Yes</option>
              <option value="2">No</option>
            </select>

            <label class="padding">List of processed food consumed yesterday</label>
            <input type="textarea" class="form-control" placeholder="Enter processed items consumed" name="" />
            <label class="padding">Tablespoons of chia seeds consumed during workout ?</label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="">1</option>
              <option value="">2</option>
              <option value="">3</option>
              <option value="">4</option>
              <option value="">5</option>
              <option value="">6</option>
              <option value="">7</option>
              <option value="">8</option>
              <option value="">9</option>
              <option value="">10</option>
              <option value="">11</option>
              <option value="">12</option>
              <option value="">13</option>
              <option value="">14</option>
              <option value="">15</option>
              <option value="">16</option>
              <option value="">17</option>
              <option value="">18</option>
              <option value="">19</option>
              <option value="">20</option>
            </select>
            <label class="padding">Were you fasted during workout </label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="">Yes</option>
              <option value="">No</option>
            </select>
            <label class="padding">General workout comments</label>
            <input type="text" name="comment" placeholder="please leave a comment" class="form-control" />
            <label class="padding">Weight</label>
            <select class="custom-select form-control">
              <option selected="select">select</option>
              <option value="">30 pounds</option>
              <option value="">40 pounds</option>
              <option value="">50 pounds</option>
              <option value="">60 pounds</option>
              <option value="">70 pounds</option>
              <option value="">80 pounds</option>
              <option value="">90 pounds</option>
              <option value="">100 pounds</option>
              <option value="">110 pounds</option>
              <option value="">120 pounds</option>
              <option value="">130 pounds</option>
              <option value="">140 pounds</option>
              <option value="">150 pounds</option>
              <option value="">160 pounds</option>
              <option value="">170 pounds</option>
           </select>
           <label class="padding">Waist size (Male)</label>
           <select class="custom-select form-control">
             <option selected="select">select</option>
             <option value="">20</option>
             <option value="">22</option>
             <option value="">24</option>
             <option value="">26</option>
             <option value="">28</option>
             <option value="">30</option>
             <option value="">32</option>
             <option value="">34</option>
             <option value="">36</option>
             <option value="">38</option>
             <option value="">40</option>
             <option value="">42</option>
             <option value="">44</option>
             <option value="">46</option>
             <option value="">48</option>
             <option value="">50</option>
             <option value="">52</option>
             <option value="">54</option>
             <option value="">56</option>
             <option value="">58</option>
             <option value="">60</option>
           </select>
           <label class="padding">Clothes Size (Womens)</label>
           <select class="custom-select form-control">
             <option selected="select">select</option>
             <option value="">1</option>
             <option value="">2</option>
             <option value="">3</option>
             <option value="">4</option>
             <option value="">5</option>
             <option value="">6</option>
             <option value="">7</option>
             <option value="">8</option>
             <option value="">9</option>
             <option value="">10</option>
             <option value="">11</option>
             <option value="">12</option>
             <option value="">13</option>
             <option value="">14</option>
             <option value="">15</option>
           </select>
           <label class="padding">Heart rate variability</label>
           <select class="custom-select form-control">
             <option selected="select">select</option>
             <option value="">1</option>
             <option value="">2</option>
             <option value="">3</option>
             <option value="">4</option>
             <option value="">5</option>
             <option value="">6</option>
             <option value="">7</option>
             <option value="">8</option>
             <option value="">9</option>
             <option value="">10</option>
             <option value="">11</option>
             <option value="">12</option>
             <option value="">13</option>
             <option value="">14</option>
             <option value="">15</option>
             <option value="">16</option>
             <option value="">17</option>
             <option value="">18</option>
             <option value="">19</option>
             <option value="">20</option>
           </select>  
            <label class="padding">What % did you breath through your nose last night when you were a sleep?</label>
           <select class="custom-select form-control">
             <option selected="select">select</option>
             <option value="">0%</option>
             <option value="">1%</option>
             <option value="">2%</option>
             <option value="">3%</option>
             <option value="">4%</option>
             <option value="">5%</option>
             <option value="">6%</option>
           </select>
           <label class="padding">What % did you breath through your nose throughtout the day when you were not exercising?</label>
           <select class="custom-select form-control">
             <option selected="select">select</option>
             <option value="">0%</option>
             <option value="">1%</option>
             <option value="">2%</option>
             <option value="">3%</option>
             <option value="">4%</option>
             <option value="">5%</option>
             <option value="">6%</option>
           </select>  
           <button type="submit" class="btn btn-block btn-primary">Submit</button>
       </form>
      </div>
    </div>
  </div>
</section> <!-- end user inputs -->

<!-- start dashboard -->

   <div class="container-fluid" id="dashboard">
    <div class="row justify-content-center">
       <h3 class="header"> Overall grades for july 16,2017 </h3>
    </div>
    <div class="row justify-content-center row1">
       <div class="col-md-5  col-lg-3 col-sm-6 mt-4">
         <div class="box">
           <h3 class="title pt-5">A</h3>
           <h4 class="title">4</h4>
           <p class="title">Movement-Non Exercise Step Grade</p>
         </div>
       </div>
       <div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box_cd">
           <h3 class="title pt-5">D</h3>
           <h4 class="title">1.6</h4>
           <p class="title">Movement consistency Grade</p>
         </div>
       </div><div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box_cd">
           <h3 class="title pt-5">C</h3>
           <h4 class="title">2.7</h4>
            <p class="title">Average Sleep Per Night Grade</p>
         </div>
       </div>
       <div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box">
           <h3 class="title pt-5">A</h3>
           <h4 class="title">4.00</h4>
            <p class="title">Exercise Consistency Grade</p>
         </div>
       </div>
        <div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box">
           <h3 class="title pt-5">A</h3>
           <h4 class="title">4</h4>
            <p class="title">Overall Exercise Grade</p>
         </div>
       </div><div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box">
           <h3 class="title pt-5">B</h3>
           <h4 class="title">3</h4>
            <p class="title">% Non Processed Food Consumed Grade</p>
         </div>
       </div>
       <div class="col-md-5 col-lg-3 col-sm-6 mt-4">
         <div class="box_cd">
           <h3 class="title pt-5">C</h3>
           <h4 class="title">2</h4>
            <p class="title">Alcoholic Drinks Per Day Grade</p>
         </div>
       </div>
     </div><!-- row end -->
     <div class="weekly_grade">
       <h2 class="weekly_grade_title">Weekly Report With Grades</h2>
       <!-- <hr> -->
     </div>
      <div class="row justify-content-center  tbc">
        <div class="col-lg-10 col-sm-12">
         
          <table class="table table-responsive table-bordered">
            <thead>
              <th></th>            
              <th>10-06-2017</th>
              <th>11-06-2017</th>
              <th>12-06-2017</th>
              <th>13-06-2017</th>
              <th>14-06-2017</th>
              <th>15-06-2017</th>
              <th>16-06-2017</th>
            </thead>
            <tbody>
            <tr>  
              <th scope="row">Non Exercise Steps</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Movement Consistency</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
              </tr>
            <tr>  
              <th scope="row">Sleep</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="coloryellow">C</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">B</td>
                <td class="colorgreen">B</td>
            </tr>
            <tr>  
              <th scope="row">Exercise Consistency</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>  
              <th scope="row">Overall Exercise</th>
                <td class="coloryellow">D</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">B</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Workout Duration</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Exercise Effort Level</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Exercise Heart Rate</th>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Food</th>
                <td class="colorgreen">B</td>
                <td class="colorgreen">C</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
                <td class="colorgreen">A</td>
            </tr>
            <tr>  
              <th scope="row">Alcohol</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            </tbody>
          </table>
        
        </div>
      </div><!-- ending of weekly grade row -->
      <div class="break_grade">
        <h2 class="break_grade_title">Breakdown Of Grades</h2>
      </div>
      <div class="row justify-content-center btbc">
        <div class="col-lg-8 col-md-10 col-sm-12">
          <table class="table table-responsive table-bordered break_grade_table pt-5">
            <thead>
              <th></th>
              <th>A</th>
              <th>B</th>
              <th>C</th>
              <th>D</th>
              <th>F</th>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Non Exercise Steps</th>
                <td class="colorgreen">
                  <!-- <p><b>A</b></p> -->
                  <!-- <p>10000+</p> -->
                  <p>14</p>
                </td>
                <td class="colorgreen">
                  <!-- <p><b>B</b></p> -->
                  <!-- <p>7500-9999</p> -->
                  <p>0</p>
                </td>
                <td class="coloryellow">
                  <!-- <p><b>C</b></p> -->
                  <!-- <p>5000-7499</p> -->
                  <p>0</p>
                </td>
                <td class="coloryellow">
                  <!-- <p><b>D</b></p>                -->
                  <!-- <p>3000-4999</p> -->
                  <p>0</p>
                </td>
                <td class="colorred">
                  <!-- <p><b>F</b></p> -->
                  <!-- <p> < 3000</p> -->
                  <p>0</p>
                </td>
              </tr>
              <tr>
                <th scope="row">Movement Consistency</th>
                <td class="colorgreen">
                  <!-- <p><=4.5</p> -->
                  <p>10</p>
                </td>
                <td class="colorgreen">
                  <!-- <p>4.5 to 6</p> -->
                  <p>10</p>
                </td>
                <td class="coloryellow">
                  <!-- <p>6.01 to 7</p> -->
                  <p>0</p>
                </td>
                <td class="coloryellow">
                  <!-- <p>7.01 to 10</p> -->
                  <p>0</p>
                </td>
                <td class="colorred">
                  <!-- <p>>10</p> -->
                  <p>0</p>
                </td>
              </tr>
              <tr>
                <th scope="row">Sleep</th>
                  <td class="colorgreen">8</td>
                  <td class="colorgreen">5</td>
                  <td class="coloryellow">1</td>
                  <td class="coloryellow">0</td>
                  <td class="colorred">0</td>
              </tr>
              <tr>  
                <th scope="row">Exercise Consistency</th>
                  <td class="colorgreen">2</td>
                  <td class="colorgreen">0</td>
                  <td class="coloryellow">0</td>
                  <td class="coloryellow">0</td>
                  <td class="colorred">0</td>
            </tr>
            <tr>
              <th scope="row">Overall Exercise</th>
                  <td class="colorgreen">9</td>
                  <td class="colorgreen">3</td>
                  <td class="coloryellow">1</td>
                  <td class="coloryellow">1</td>
                  <td class="colorred">0</td>
            </tr>
            <tr>
              <th scope="row">Workout Duration</th>
                  <td class="colorgreen">14</td>
                  <td class="colorgreen">0</td>
                  <td class="coloryellow">0</td>
                  <td class="coloryellow">0</td>
                  <td class="colorred">0</td>
            </tr>
            <tr>
              <th scope="row">Exercise Effort Level</th>
                  <td class="colorgreen">11</td>
                  <td class="colorgreen">1</td>
                  <td class="coloryellow">0</td>
                  <td class="coloryellow">1</td>
                  <td class="colorred">1</td>
            </tr>
            <tr>
              <th scope="row">Exercise Heart Rate</th>
                  <td class="colorgreen">0</td>
                  <td class="colorgreen">12</td>
                  <td class="coloryellow">1</td>
                  <td class="coloryellow">1</td>
                  <td class="colorred">0</td>
            </tr>
            <tr>
              <th scope="row">Food</th>
                  <td class="colorgreen">8</td>
                  <td class="colorgreen">3</td>
                  <td class="coloryellow">3</td>
                  <td class="coloryellow">0</td>
                  <td class="colorred">0</td>
            </tr>
            <tr>
              <th scope="row">Alcohol</th>
                  <td class="colorgreen">3</td>
                  <td class="colorgreen">2</td>
                  <td class="coloryellow">6</td>
                  <td class="coloryellow">2</td>
                  <td class="colorred">1</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div><!-- ending of breakdown row -->
      <div class="week_summary">
        <h2 class="week_summary_title">Weekly Summary</h2>
      </div>
      <div class="row justify-content-center wstbc">
        <div class="col-lg-7 col-md-9 col-sm-12">
          <table class="table table-responsive table-bordered">
            <thead>
              <th></th>
              <th>Average</th>
              <th>Median</th>
              <th>Best</th>
              <th>Worst</th>
            </thead>
            <tbody>
             <tr>
               <th scope="row">Non Exercise Steps</th>
                  <td class="colorgreen">21174</td>
                  <td class="colorgreen">19775</td>
                  <td class="colorgreen">32652</td>
                  <td class="colorgreen">13987</td>
            </tr>
            <tr>
               <th scope="row">Movement Consistency</th>
                  <td class="colorgreen">3</td>
                  <td class="colorgreen">4</td>
                  <td class="colorgreen">0</td>
                  <td class="coloryellow">6</td>
            </tr>
            <tr>
               <th scope="row">Sleep(in hours)</th>
                  <td class="colorgreen">7.6</td>
                  <td class="colorgreen">7.7</td>
                  <td class="colorgreen">8.2</td>
                  <td class="coloryellow">6.8</td>
            </tr> 
            <tr>
               <th scope="row">Exercise Consistency</th>
                  <td class="colorgreen"></td>
                  <td class="colorgreen"></td>
                  <td class="colorgreen"></td>
                  <td class="colorgreen"></td>
            </tr>
            <tr>
               <th scope="row">Overall Exercise</th>
                  <td class="colorgreen">3.5</td>
                  <td class="colorgreen">3.7</td>
                  <td class="colorgreen">4</td>
                  <td class="colorgreen">2</td>
            </tr>
            <tr>
               <th scope="row">Workout Duration</th>
                  <td class="colorgreen">86</td>
                  <td class="colorgreen">92</td>
                  <td class="colorgreen">99</td>
                  <td class="colorgreen">60</td>
            </tr>
            <tr>
               <th scope="row">Workout Effort Level</th>
                  <td class="colorgreen">3.9</td>
                  <td class="colorgreen">3.0</td>
                  <td class="colorgreen">2.0</td>
                  <td class="colorgreen">9.0</td>
            </tr>
            <tr>
               <th scope="row">Exercise Heart Rate</th>
                  <td class="colorgreen">131</td>
                  <td class="colorgreen">127</td>
                  <td class="colorgreen">124</td>
                  <td class="colorgreen">162</td>
            </tr>
            <tr>
               <th scope="row">Food</th>
                  <td class="colorgreen">78</td>
                  <td class="colorgreen">80</td>
                  <td class="colorgreen">95</td>
                  <td class="colorgreen">65</td>
            </tr>
            <tr>
               <th scope="row">Alcohol</th>
                  <td class="colorgreen">1.8</td>
                  <td class="colorgreen">2.0</td>
                  <td class="colorgreen"></td>
                  <td class="colorgreen">5</td>
            </tr>     
            </tbody>
          </table>
        </div>
      </div><!-- ending of week summary row -->

      <div class="content">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="card mt-5">
                    <div class="card-block">
                        <h5 class="heading">Line chart for sleep</h5>
                        <div class="m-t-30" id="line_chart"></div>
                    </div>
                </div>
            </div>
        </div>
      </div>      

   </div><!-- closing of container -->



  <!-- ending of dashboard -->

 <!-- jQuery first, then Tether, then Bootstrap JS. -->
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="plugins/moment.min.js"></script>
    <script type="text/javascript" src="plugins\bootstrap-datepicker-master\dist\js\bootstrap-datepicker.min.js"></script>
    <script src="js/script.js"></script>
      <script type="text/javascript" src="plugins\icheck\icheck.js"></script>
      <script type="text/javascript" src="js/select2.min.js"></script>
      <script type="text/javascript" src="js\bootstrapValidator.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>
</div>

<div id="react-app"></div>
{% endblock %}
