#activity_calender{
	margin-top: 80px;
	margin-right: 50px;
}
.progressActivity{
	position:relative;
	top: 10px;
	padding-right: 20px;
	padding-left: 20px;

}
.progressActivity1{
float: right;
}
#save_cancel_btn{
	float: right;
	padding-top: 30px;
	padding-right: 30px;
}
#add_button{
	align-items: center;
	
	font-size: 16px;
	border-collapse: collapse;
	border-color: white;
}
.add_button_back{
	background-color: #F9F8F8;
	font-weight: bold;
}
.add_button{
	float: right;
}
@media (max-width: 1023px){
	.tableresponsive{
		max-width: 370px;
}
}
#activity_table{
	padding-top: 80px;	
}
.edit_sel{
	width:80%;
}


td{
	width:230px;
	height:40px;
}
.displayflex {
    display: inline-flex;
   
}
.save_btn{
	margin-top:10px;
}