#activity_calender{
	margin-top: 80px;
	margin-right: 50px;
}
.progressActivity{
	position:relative;
	top: 10px;
	padding-right: 20px;
	padding-left: 20px;

}
.progressActivity1{
float: right;
}
#save_cancel_btn{
	float: right;
	padding-top: 30px;
	padding-right: 30px;
}
#add_button{
	align-items: center;
	font-size: 16px; 
	border-collapse: collapse;
	border-color: #d3d3d3;
}
.add_button_back{
	background-color: #F9F8F8;
	font-weight: bold;
}
.add_button{
	float: right;
}
@media (max-width: 1023px){
	.tableresponsive{
		max-width: 370px;
}
}
#activity_table{
	max-width: 580px;
}
.edit_sel{
	width:80%;
}


td{
	width:230px;
	height:40px;
}
.displayflex {
    display: inline-flex;
   
}
.save_btn{
	margin-top:10px;
}
.add_activity{
	float:left;
	cursor: pointer;
}
.tableresponsive{
	margin :0 auto;
	width:98%;
}
.margin_lft0{
	 margin-left:0px;
}
#datepicker{
	padding-left:0px;
}
.align_content_center  {
	transform:translateX(350%);
}
.mar_20{
	margin:20px;
}
.cal_width{
	width:100%;
	margin-top: 80px;
}
.delete_position{
  position: absolute;
  right: 10px;	
}
.checkbox_delete .martp_20{
	margin-top:15px;
	color:red;
}

@media screen and (min-width: 2561px) {

.delete_position{
position:absolute;
right:500px	
}
}

@media screen and (max-width: 1200px) and (min-width: 769px) {

.tableresponsive {
    max-width: 670px;
}

.delete_position {
    position: absolute;
    right: 90px;
}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
.delete_position {
    position: absolute;
    right: 85px;
}
}

@media screen and (max-width: 480px) and (min-width: 320px) {
.delete_position {
    position: absolute;
    right: 45px;
}

}
@media screen and (max-width: 667px) and (min-width: 375px) and (orientation: portrait){
.btn2 {
   position:relative;
    top: 42px;
    right: 8px;
}
.calender_styles{
    width: 162px !important;
}
}

@media screen and (max-width: 768px) and (min-width: 481px) and (orientation : landscape){
.delete_position {
    position: relative;
    left: 141px;
}
}