#breakdown{
    height: 100%;
    background-color: darkgray;
    	margin-top: 150px;
}
.btbc{
	background-color: darkgray;

}
.break_grade_table tbody td p{
	margin-bottom: 0px;
}
.break_grade h2.break_grade_title{
    margin-bottom: 70px;
    margin-top: 30px;
}
table th{
	min-width: 100px;
	text-align: center;
}
tbody td{
	vertical-align: middle !important; 
}
tbody th{
	vertical-align: middle !important;
	text-align: center;
}