body{
	overflow-x: hidden !important;
}
.padding{
	padding-top: 7px;
}
.dashboard table,th,tr,td{
	border-collapse: collapse;
	border-color: gray;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}
.createbutton{
		font-family:futura-pt;
		background-color: rgb(237, 149, 7);
		border-radius: 0px;
		border-color: rgb(237, 149, 7);
		height: 49px;
		padding: 0px 20px;
		font-size: 14px;

}
@media (max-width: 1023px){
	.tablecenter{
	overflow-x: scroll;
}
}
#link_style{
	text-align: left;
    font-weight: bold;
    font-size: 22px;
}