#forgot{
	padding-top: 80px;
	display: flex;
	background: url('../images/login_header.jpg') center center no-repeat fixed;
	background-size: cover;
	align-items: center;	
	color: white;
	height: 700px;
}
#forgot .forgot-form{
	background-color:rgba(20,10,15,0.5);
	border-radius: 20px;
	padding: 10px;
	margin-bottom: 10px
}
#forgot .head{
	text-align: center;
	margin-top: -120px;
	padding: 10px;
}