html,body {
	height:100%;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.form-container1{
	min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
 	min-height: 100vh; /* These two lines are counted as one :-)       */
  	display: flex;
  	align-items: center;
  	font-weight: 300;
}
.form-card1 {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
#reg-form1 .card .card-header{
	background-color: #fff;
	padding:30px;
	padding-bottom:10px;
	border-bottom: none
}
#reg-form1 .card .card-block{
	padding:0px 10px 30px 10px;
}
