.gd_table_margin{
	margin-top: 25px;
}
.gd_value_style{
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	
}
.gd_card_style{
  border: none;
  border-radius: 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
  outline: none;
  transition: box-shadow 200ms cubic-bezier(0.4,0.0,0.2,1);
  
}
.gd_header_style{
	text-align: center;
	font-size: 17px;
}
/*.hr_style{
	background: white;
}*/
@media (max-width: 1023px) {
	.gd_table_margin{
		margin-top: 15px;
		margin-right: 15px;
		margin-left: 15px;
	}
	.gd_card_style{
		height: 110px;
	}
	
}
.gd_padding{
	padding-left: 15px;
	padding-right: 15px;
}
.gd_mch_color_legend{
	border-radius: 1px;
	height: 22px;
	width: 60px;
	border:none;
	display: inline-block;
	margin-left: 10px;
	text-align: center;
	align-items: center;
	font-weight: bold;
}
.color_legend_A{
	background-color: green;
	color: white;
}
.color_legend_F{
	background-color: red;
	color: black;
}
.color_legend_B{
	background-color: #32CD32;
	color: white;
}
.color_legend_C{
	background-color: #FFFF01;
	color: black;
}
.color_legend_D{
	background-color:  #E26B0A;
	color: black;
}
