.hr_table_style{
    margin-top:50px;
	padding-top: 30px;
	padding-left: 46px;
	padding-right: 46px;
}
.hr_table_style_rows{
	align-items: center;
	font-size: 16px;
	border-collapse: collapse;
	border-color:lightgray !important;
}
.hr_table_padd{
	padding:0px 50px;
	margin-top:20px;
}
@media (max-width: 1023px){
	.hr_table_padd{
		padding:0px 25px;
	}
}
.button_padding{
	position: absolute;
	right: 40px;
	padding-top: 3px;
}
@media screen and (max-width: 580px ) and (min-width:320px) and (orientation : portrait){
 .updated_hrr{
	 font-size: 12px;
	 margin-left: 25px !important; 
	margin-top: 12px;
 }	
 .yes_no{
	 font-size: 12px;
 }
 .in_button{
	 font-size: 12px;
	 margin-left: -129px !important;
	 margin-top: 12px;	
 }
 .ex_button{
	font-size: 12px;
	margin-left: 6px !important;	
   margin-top: 12px;
}

 }
