
html, body {
  height: 100%;
  width: 100%;
}

.container .row {
  margin-bottom: 1rem;
}

.top-content .container .row > [class^="col-"] {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: #E5EDF5;
  border: 1px solid #C9C1D5;
  color: #5F5F5F;
  border-radius: 2%;
}

.inner-bg {
    padding: 100px 0 170px 0;
}



.top-content .description {
	margin: 20px 0 10px 0;
	 position: relative;
    width: 100%;
}
.description img { display: 'flex';
width: 100; height: 100%;
align-items: center;
 justify-content: 'center'; }


 .top-content .box{
  width: 40vw;
  height: 20vh;
  background: #FF7043;}
  
  


  .form-top {
	overflow: hidden;
	padding: 0 25px 15px 25px;
	background: #444;
	background: rgba(0, 0, 0, 0.35);
	-moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; border-radius: 4px 4px 0 0;
	text-align: left;
}


.form-box {
	margin-top: 35px;
}

	.form-bo {
	padding: 25px 25px 30px 25px;
	
	 border-radius: 0 0 4px 4px;
	text-align: left;
}

.form-bo form textarea {
	height: 100px;
}

.form-bo form button.btn {
	width: 100%;
}

.form-bo form .input-error {
	border-color: #de615e;
}
.form-bo h3{
	padding-bottom:28px;
	font-size: 25px;
}






  @media (min-width: 992px) and (max-width: 1199px) {}

@media (min-width: 768px) and (max-width: 991px) {}

@media (max-width: 767px) {
	
	.inner-bg { padding: 60px 0 110px 0; }

}
    