.lb_table_style{
	padding-top: 30px;
	padding-left: 46px;
	padding-right: 46px;
}
.lb_table_style_rows{
	align-items: center;
	font-size: 16px;
	border-collapse: collapse;
	border-color:lightgray !important;
}
.ar_table_padd{
	padding:0px 50px;
}
@media (max-width: 1023px){
	.ar_table_padd{
		padding:0px 25px;
	}
}