.last_sync{
    font-size: 16px;
}
.arrow{
    font-size: 28px;
}
 .date_sync{
    font-size: 16px;
  }

  .mcs_th{
    width: 12%;
  }  
  
  .table_size{
    width: 16%;
  }
  
@media (min-width: 321px) and  (max-width: 480px) {
	.arrow{
		font-size: 20px;
	}
  .date_sync{
    font-size: 13px;
  }
  .last_sync{
    font-size: 13px;
  }
	.row .mc_calendar{
		margin-top: 1px;
   padding-bottom: 1px;
	}
   .mcs_dashboard  {
    font-size: 9px;
    min-width: 63px;   
}
.table .table_size {
    min-width: 40px;
    text-align: center;
    font-size: 9px; 
    padding:0 1px 0 1px;
    
}
.table .mcs-dashboard {

    min-width: 30px;
    text-align: center;
    font-size: 9px;
    padding:0px;
}
.tableContent{
  margin-left: 5px;
}                 
.table_process{
  margin-left:8px;
  margin-right:18px;
}
.table_size1{
  margin-left: 0px;
  margin-right: 0px;
}
.table_pro{  
  overflow-x: scroll;
}
.date_sync{
    font-size: 12px;
  }

.mcs_th{
  width: 12%;
}  

.table_size{
  width: 16%;
}
}



@media (max-width: 320px) {
	.arrow{
		font-size: 20px;
	}
  .date_sync{
    font-size: 13px;
  }
  .last_sync{
    font-size: 13px;
  }
	.row .mc_calendar{
	 margin-top: 0px;
   padding-bottom: 0px;
	}
   .mcs_dashboard  {
    font-size: 9px;
    min-width: 40px;    
  }
.table .table_size {
    min-width: 9px;
    text-align: center;
    font-size: 9px; 
    padding:0 0 0 0;
  
}

.table_size{

  width:16%;
}

.mcs_th{
  font-size: 8px !important;
}

.table .mcs-dashboard {

  min-width: 40px;
  text-align: center;
  font-size: 9px;
  padding:0px;
}
.tableContent{
  margin-left: 3px;
}                 
.table_process{
  margin-left:14px;
  margin-right:19px;

}
.table_size1{
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 2px !important;
  padding-right: 2px !important;

}
.table_pro{  

 resize: horizontal;
 width : 100% ;
 min-width: 30px;
 font-size: 9px;
 padding: 0px; 
 table-layout:fixed;
 display: block;
 overflow-x: auto;
}

.table td {
  padding: 0rem;
  width: fixed ;
  
}

.table_one {

  border-collapse: separate;
  border-spacing: 2px 0px !important; 
  display:grid;
  grid-row-gap : 2px !important ;
  text-align: center;
}

.col-sm-10 {
  padding-left: 6px;
  padding-right: 6px;
}

}



@media (min-width: 322px) and (max-width: 380px){
.last_sync{
    font-size: 9px;
}
.date_sync{
    font-size: 9px;
  }

.steps_count{
  font-size: 9px;
  }

  .table td {
    padding: 0rem;
  }
}

@media (min-width:322px) and (max-width: 480px)
{
.mcs_dashboard {
    font-size: 9px;
    min-width: 30px;
}
}
@media (min-width: 361px) and (max-width: 414px){
.last_sync{
    font-size: 10px;
}
.date_sync{
    font-size: 10px;
  }
}
@media (min-width: 361px) and (max-width: 414px){
.steps_count{
  font-size: 10px;
  }
}
@media (min-width: 415px) and (max-width: 667px){
.last_sync{
    font-size: 13px;
}
.date_sync{
    font-size: 13px;
  }
}
@media (min-width: 415px) and (max-width: 667px){
.steps_count{
  font-size: 13px;
  }
}
@media (min-width: 668px) and (max-width: 1023px){
.last_sync{
    font-size: 15px;
}
.date_sync{
    font-size: 13px;
  }

.steps_count{
  font-size: 15px;
  }
}
@media (min-width: 851px) and (max-width: 4000px){
  .mcs_th{
    min-width: 80px !important;
    padding: 1px !important;
  }
}


@media (min-width: 668px) and (max-width: 850px){
  .mcs_th{
    min-width: 71px !important;
    padding: 2px !important;
  }
}

 .table_size {
  border-collapse: collapse;
  border-color: #505050;
  border-style: solid;
  border-width: 2px 2px 0 2px !important;

   border-top: 2px solid #505050 !important;
}

.border_spacing {

  border-collapse: separate;
  border-spacing: 3px 0; 
  table-layout:inherit;
}

.table_one {

   border-collapse: separate;
   border-spacing: 3px 0px; 
   display:grid;
   grid-row-gap : 3px ;
   table-layout:inherit;
   text-align: center;
 }


.mcs_th {
   
  border-color: #505050;
  border-style: solid;
  border-width: 2px 2px 0 2px !important;
  border-top: 2px solid #505050 !important;

}

