@media screen and (max-width: 480px) and (min-width: 320px) {
	.arrow{
		font-size: 28px;
	}
	.row .mc_calendar{
		margin-top: 10px;
   padding-bottom: 8px;
	}
   .mcs_dashboard  {
    font-size: 11px;
    min-width: 63px;
    
}
.table .table_size {
    min-width: 57px;
    text-align: center;
    font-size: 11px;
    padding:3px;
}
.table .mcs-dashboard {

    min-width: 43px;
    text-align: center;
    font-size: 11px;
    padding:1px;
}

.tableContent{
  margin-left: 5px;
}
.table_process{
  margin-left:8px;
  margin-right:18px;
}
.table_pro{
  margin-left:9px;
  margin-right:15px;
}
}
@media screen and (max-width: 320px) {
 .table .table_size {
    min-width: 54px;
    font-size: 9px;
}
.table .mcs-dashboard {
    min-width: 54px;
    font-size: 9px;
    padding: 4px;
}

}
