.move{
	padding: 90px 0px 20px 10px;
    text-align: center;
}
#move1 th{
	border: 1px solid red; 
	text-align: center;
	font-size: 12px;
	padding:13px 0px;
}


#move1 tr{
	border: 1px solid red;
	text-align: center;
	font-size: 12px;
}

#move1 td{
	border: 1px solid red; 
	text-align: center;
	font-size: 12px;
}
