html,body{/*have to mention html parent element other wise it wont show pic*/

	height: 100%;
	font-family: 'Alegreya Sans',sans-serif;


}

.navbar{ /*this is a <nav> styling here bar element*/
	background-color: #103047;
	border-bottom: 1px solid #dedede;
	font-family: 'Alegreya Sans',sans-serif;
	margin:-1px;
}
.navbar .nav .nav-item .nav-link { /* this is parrent to child like in <nav> we have .navbar in <ul> we have .nav in <li> we have 
.nav-item in <img> we have .nav-link we are giving style to nav-link here  */
color: #d1d1d1;
}
.navbar .nav .nav-item .nav-link:hover{
	color: #292c2f !important;
	background-color:white;

}
 .navbar .navbar-toggler { /*this is to color color than three lines in to white wich apper when it is in mobil*/
	color:white !important;
	

}
.navbar-brand{
	color:white !important;
	padding:0px 0px 0px 0px !important;
	margin-right:0 !important;

}



 .navbar  .navbar-brand{
 	color: white;
 } 
  
 .brand{
 width:33%;
 }
 .registration{
 text-align:center;
 color:white;
 font-size:24px;
 width:33%;
 }
 .home{
 text-align:right;
 color:white;
 font-size:24px ;
  width:33%;
 }
 .color_home{
 color:white;
 }
.navbar_div{
	display:flex;
	width:100%;
}
@media screen and (max-width: 768px) and (min-width: 481px) {
.navbar_div{
	display:block;
	width:100%;
}
.registration{
	width:100%;
	text-align:center;
}

.brand{
width:100%;
	text-align:center;
}
 .home{
 width:100%;
 text-align:center;
 }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
.navbar_div{
	display:block;
	width:100%;
}
.registration{
	width:100%;
	text-align:center;
}

.brand{
width:100%;
	text-align:center;
}
 .home{
 width:100%;
 text-align:center;
 }

}
/*****************************/
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border:none;
}
.no-padding {
	padding:0 !important;
}
.page_title h2{
	font-size:16px;
	color:#fff;
}
.page_title_mobile{
	display:none;
}
.page_title_mobile h2{
	font-size:16px;
	color:#fff;
}
.tgl_btn{
	position:absolute;
	right:0;
}
.navbar_right{
	position:absolute;
	right:0;
}
.navbar-inverse .navbar-nav > li > a{
	color:#fff;
}
@media screen and (max-width:768px){
	.page_title{
		
	}
	.page_title_mobile{
		display:block;
	}
	.nav_mobile{
		margin:0;
	}
}