.dropStyles{
	padding-top: 20px;
	margin-left: 35px;
}
.weekdate{
	margin-left: 400px;
	padding-top: 10px;
	font-weight: bold;
	color:gray;
}
.table_padd{
	padding-left: 47px;
	padding-right: 45px;
	padding-top: 10px;
}
@media (min-width: 319px) and (max-width: 1023px) and (orientation:landscape) {
  .overall_rank_value{
  	font-size: 10px;
  	padding:0px 0px 0px 0px !important;
  }
  table th{
  	min-width: 55px;
  }
  .table_padd{
  	padding: 10px 10px 10px 10px !important;
  }
  .overall_table{
  	max-width: 520px;
  }
	.dropStyles{
		padding-top: 10px;
		margin-left: 15px;
		}
		.weekdate{
		margin-left: 10px;
		color:gray;
		padding-top: 5px;
		font-size: 13px;
	}
}
@media (max-width: 1023px){
	.dropStyles{
	padding-top: 10px;
	margin-left: 15px;
	}
	.weekdate{
	margin-left: 10px;
	color:gray;
	padding-top: 5px;
	font-size: 13px;
}
.table_padd{
	padding-right: 10px;
	padding-left: 10px;
}
} 

