.card_padding{
	padding:15px 7px 0px 7px; 
}
.text_center{
	text-align: center;
}
.card_padding1{
	padding:0px 25px 25px 25px;
}
@media (max-width: 1023px) {
	.text_center1{
	text-align: center;
	padding-bottom: 10px;
}
}
