.padropStyles{
	padding-top: 20px;
	margin-left: 35px;
}
.paweekdate{
	margin-left: 400px;
	padding-top: 10px;
	font-weight: bold;
	color:gray;
}
.card_padding{
	padding:15px 7px 0px 7px; 
}
.text_center{
	text-align: center;
}
.card_padding1{
	padding:0px 25px 25px 25px;
}
.Pa_dashboard_date{
	font-size: 16px;
	text-align: center;
	font-weight: bold;
}
.date_range1{
	display: none;
}

.pa-db-info-content{
	font-size: 14px;
}
.pa-db-info-header{
	font-size: 16px;
}

@media (max-width: 1023px) {  
	.text_center1{
	text-align: center;
	padding-bottom: 10px;
}
.Pa_dashboard_date{
	font-size: 12px;
	text-align: center;
	font-weight: bold;
}
.date_range1{
	display: inline;
	
}
.date_rangee1{
	display: none;
}
.padropStyles{
	padding-top: 10px;
	margin-left: 18px;
	font-size: 11px;
	}
	.paweekdate{
	margin-left: 10px;
	color:gray;
	padding-top: 5px;
	font-size: 13px;
}
.pa-db-info-content{
	font-size: 14px;
}
.pa-db-info-header{
	font-size: 14px;
}
}
