.quick{
	padding: 70px;
}
	#quick1{
		padding: 15px 0px 5px 90px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 40px;

}
#quick2{
	padding: 10px;
}
.quick3{
	padding: 13px;
	text-align: left;
}
.quick3 h4{
	padding:10px 0px;
	font-weight: bold;
	color: #6600B2;

}
.quick4 th{
	border: 1px solid #356AA0;
	text-align: left;
}

.quick4 tbody{
	border: 1px solid #356AA0;
	text-align: left;
}
.quick4 tr{
	border: 1px solid #356AA0;
	text-align: left;
}

.quick4 td{
	border: 1px solid #356AA0;
	text-align: left;
}
.quick5{
	padding: 14px 0px 0px 85px;
}