html,body{
	font-size: 16px;
}

.quick{
	padding-top: 70px;
}

@media (max-width: 1023px){

.quick3{
	padding: 0px;  
	text-align: left;
	max-width: 820px;
	overflow: auto;
		}

#quick2{
	padding: 0px;
		}
.quick5{
	padding: 0px 20px 0px 20px;
}
.quick7{
	padding-left: 8px;
}
}



#quick1{
		
font-family: 'Roboto', sans-serif;
font-weight: bold;
	

}
#quick2{
	padding-top: 0px;
}


.quick3 h5{
	padding:10px 0px;	
}
		.quick3 table {
            position: relative;
            width: 750px;
            background-color: #aaa;
            overflow: hidden;
            border-collapse: collapse;
            }
 		.quick4 thead {
            position: relative;
            display: block; /*seperates the header from the body allowing it to be positioned*/
            width: 753px;
            overflow: visible;

            }

            .quick4 thead th {
            background-color: #99a;
            min-width: 120px;
             margin-left: 1px;           
            border: 1px solid white;
            border-collapse: collapse;

            }

           .quick4 thead th:nth-child(1) {/*first cell in the header*/
            position: relative;
            display: block; /*seperates the first cell in the header from the header*/
            background-color: #88b;
            }


            /*tbody*/
           .quick4 tbody {
            position: relative;
            display: block; /*seperates the tbody from the header*/           
            height: 239px;
            width: 750px;
            overflow: scroll;
            }

           .quick4 tbody td {
            background-color: #bbc;
            min-width: 120px;
            border: 1px solid white;
            border-collapse: collapse;
            }

           .quick4 tbody tr td:nth-child(1) {  /*the first cell in each tr*/
            position: relative;
            display: block; /*seperates the first column from the tbody*/           
            background-color: #99a;
            }

.quick5{
	padding: 0px 20px 15px 20px;
}
#quick6{
	font-size: 16px;
	
}
.quick7{
	padding:10px 0px 20px 7px;
}
#quick6 a{
	color: black;
}
.quick8{
	background-color: #292C2E;
	color: white;
}
.quick9{
	background-color: #E8E8E8;

}
.quick10{
	padding-top: 22px;
}
#examplestartdate{
	padding: 8px;
	align-items: center;
}
#exampleenddate{
	padding: 8px;
	align-items: center;
}
.alert{
	width:60%;
	text-align: center;
	font-size: 16px;
	padding: 10px;

}
