html,body{
	font-size: 16px;      	
}

.quick{
	padding-top: 0px;
}

@media (max-width: 1023px){

.hori{        
	overflow-x: hidden;               
}
.nav5 .navbar-toggler{            
	margin-left: -5px;             
}
#calendar1 #navlink{                              
	margin-left: -13px;      
}
.navbar-brand img{     
	margin-right: 15px;         
}
.nav6 .navbar-toggler{
	margin-left: -50px;      
}
#head{
	font-size: larger;
}

}

.nav2{
	  top:0; 
	  z-index:100;
	  left: 0;
	  right: 0;
	  border-radius: 0px;	  
	}

#quick1{
		text-align: center;
		font-family: 'Roboto', sans-serif;
		font-weight: bold;
		font-size: 22px;			
}
#quick2{
	padding-top: 0px;
}
.quick3{
    padding:8px 0px 8px 0px;
    
}

.quick3 h5{
	padding:10px 0px;	
}
		
.quick5{
	padding: 0px 20px 15px 20px;
}
#quick6{
	font-size: 16px;
	
	
}
.quick7{
	padding:10px 0px 20px 0px;
}
#quick6 a{
	color: black;
}

.quick8{
	background-color: #292C2E;
	color: white;
}
.quick9{
	background-color: #E8E8E8;

}
.quick10{
	padding: 15px 15px 15px 0px;     
}
#examplestartdate{
	padding: 8px;
	align-items: center;
}
#exampleenddate{                        
	padding: 8px;                  
	align-items: center;                   
}
.alert{                 
	width:60%;
	text-align: center;                      
	font-size: 16px;                  
	padding: 10px;                   
    
}
#calendar1{    
	padding:10px 15px 10px 10px;    
	color:white;

}
#nav3{
padding:0px 0px 5px 0px;     
}

#nav3 .navbar{
background-color: #777777;      
}
.fonts{
	font-family: proxima-nova;        
		font-size: 18px;
		font-style:normal;      
		 color:white;
}
#headernames{
	color:white;
}
.tabs{
        text-align:center;
		padding-top:8px;
		font-family: proxima-nova;  
		font-size: 20px;   
		font-style:normal;   
       color:#103047;    
       }

   .fixedDataTableCellGroupLayout_cellGroup{    
   	min-height:70px !important;     
   }
   .navbar{                     
   	border-radius: 0px;
   }
.daterange-btn{
	font-family:futura-pt;
    background-color: rgb(237, 149, 7);
	border-radius: 0px;
	border-color: rgb(237, 149, 7);		
	font-size: 13px;
	height: 40px;
	color: white;
}
.dropbutton{
	background-color: #777777;
}

@media (max-width:2024px){
	.dropbutton{
		display: inline;
	}
	.bikestats{
		display:none;
	}
	.swimstats{
		display: none;
	}
	.allstats{
		display:none;
	}
	.userinputs{
		display: none;
	}
	#dropexercise{
		display: none;
	}
	#dropalcohol{
		display: none;
	}
	#dropfood{
		display: none;
	}
	
}

@media (max-width: 1100px){
	.dropbutton{
		display: inline;
	}
	.exercise{
		display: none;
	}
	.alcohol{
		display: none;
	}
	.food{
		display: none;
	}

	#dropexercise{
		display:inline;
	}
	#dropalcohol{
		display: inline;
	}
	#dropfood{
		display: inline;
	}

}
@media (max-width: 800px){
	.dropbutton{
		display: none;
	}
	.bikestats{
		display:inline;
	}
	.swimstats{
		display: inline;
	}
	.allstats{
		display:inline;
	}
	.userinputs{
		display: inline;
	}
	.exercise{
		display: inline;
	}
	.alcohol{
		display: inline;
	}
	.food{
		display: inline;
	}

}
.calendar2 tr,td,th{
	width: 30px;
}
.date_range_btn{
	padding-right: 12px;
	padding-left: 12px
}