html,
body{
	height: 100%;
	background-size: cover;
	font-size:16px;
}

#user-inputs{
	display: flex;
	align-items: center;
	background-size: cover;
	color: rgba(0,0,0,0.5);
}

#user-inputs .head{
	text-align: center;
	padding: 15px;
	color: gray;
}
#user-inputs .user-inputs-form{
	background-color:rgba(20,10,15,0.5);
	border-radius: 20px;
    padding: 6px;
    align-content: center;
    color:white;

}
#user-inputs .user-inputs-form input.form-control{
	height: 28px;
}
#user-inputs .user-inputs-form button {
margin-top: 46px;
}
#user-inputs .user-inputs-form .padding{
	padding: 10px;
	margin-left: -10px;
}
// @media (min-width: 1024px) {
// form.user-inputs-form.bootstrap_validator{
//     margin-left: 180px;
// }
// }

@media (min-width: 768px) and (max-width: 1023px) {
   #user-inputs .user-inputs-form{
	background-color:rgba(20,10,15,0.5);
	border-radius: 20px;
    align-content: center;
    padding:6px;

}
.input{
	padding:0px 17px;
}
.input1{
	padding:0px 17px 0px 23px;
}
#navlink{
	color:black;
}
.btn2{
	padding:10px 0px 0px 0px;  
}
strong{
	color:#212F3D;
	font-size:16px;
}
h2{
	text-align:center;
	padding-top:8px;
}

.food h2{
	text-align:center;
	padding-top:20px;
}
#hours{
	
	float:left;
	margin-left: 10px;
}
#minutes{
	
	float:left;
	margin-left: 10px;

}

.dark{
	font-size:12px;
	align-items: center;
	text-align: center;

}
#padd{
	padding-top:17px;
}

}
.input{
	padding:0px 17px;
}
.input1{
	padding:0px 17px 0px 23px;
}
#navlink{
	color:white;
	padding:0px 19px;
	font-size: 16px;
}
.nav1{
	padding-left:10px;
}
.btn2{
	padding:10px 0px 0px 0px;    
}
strong{
	color:#212F3D;
	font-size:16px;
}
h2{
	text-align:center;
	padding-top:8px;
}

.food h2{
	text-align:center;
	padding-top:20px;
}

.dark{
	font-size:12px;
	align-items: center;
	text-align: center;

}
#padd{
	padding-top:17px;
}
.calender{
	height: 100px;
}
#abbri{
	text-decoration: none;
}
.radio1{
	margin:0px 6px;
}
#calender{
	background-color: #292C2E;
}

	