html,
body{
	height: 100%;
	background-size: cover;
	font-size:16px;
}

#user-inputs{
	display: flex;
	align-items: center;
	background-size: cover;
	color: rgba(0,0,0,0.5);
}

#user-inputs .head{
	text-align: center;
	padding: 15px;
	color: gray;
}
#user-inputs .user-inputs-form{
	background-color:rgba(20,10,15,0.5);
	border-radius: 20px;
    padding: 6px;
    align-content: center;
    color:white;

}
#user-inputs .user-inputs-form input.form-control{
	height: 28px;
}
#user-inputs .user-inputs-form button {
margin-top: 46px;
}
#user-inputs .user-inputs-form .padding{
	padding: 10px;
	margin-left: -10px;
}
// @media (min-width: 1024px) {
// form.user-inputs-form.bootstrap_validator{
//     margin-left: 180px;
// }
// }

@media (max-width: 1023px) {
   #user-inputs .user-inputs-form{
	background-color:rgba(20,10,15,0.5);
	border-radius: 20px;
    align-content: center;
    padding:6px;

	}

	#navlink{
	color:white;
	margin-top: 5px;
      }

	#spa{
		text-align: center;
	}
	.btn1{
		margin-top: 5px;
	}
	#btn1{
		margin: 10px 65px;
		position:relative;	
	}
	.input{
		padding:0px 17px;
	}
	.input1{
		padding:0px 17px 0px 23px;
	}
	.nav1{
		width: 100%;
		 top:0; 
		 left:0;	 
	    z-index:100;
	   	
	}
	.date{
	padding:10px;
	}
	.toggler{
		color: white;
		float: left;
	}
	strong{
		color:#212F3D;
		font-size:16px;
	}
	h2{
		text-align:center;
		padding-top:8px;
	}
	.food h2{
		text-align:center;
		padding-top:20px;
	}
	.dark{
		font-size:12px;
		align-items: center;
		text-align: center;

	}
	#padd{
		padding-top:17px;
	}
}




	.input{
		padding:0px 17px;
	}
	.input1{
		padding:0px 17px 0px 23px;
	}
	#navlink{
		color:white;
		padding:0px 11px;
		font-size: 26px;
	}

	.nav1 {
	  top:0; 
	  z-index:100;
	}

	strong{
		color:#212F3D;
		font-size:16px;
	}
	h2{
		text-align:center;
		padding-top:8px;
	}

	.food h2{
		text-align:center;
		padding-top:20px;
	}
	#hours{
		float: left;
		margin-left: 10px;
	}
	#minutes{
		float: left;
		margin-left: 10px;
	}

	.dark{
		font-size:12px;
		align-items: center;
		text-align: center;
	}
	.btn1{
		padding:3.5px 0px 0px 10px ;
	}	
	#padd{
		padding-top:17px;
	}
	.date{
		margin: auto;
		padding-left: 10px;
		color: white;
	}
	#abbri{
		text-decoration: none;
	}
	.radio1{
		margin:0px 6px;
	}
	.radio2{
		padding-left: 35px;
	}
	#calender{
		background-color: #292C2E;
	}
	.overlay{
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    z-index: 1;
	    left: 0;
	    top: 0;
	    background-color: rgb(0,0,0); /* Black fallback color */
	    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
	    overflow-x: hidden;
	}

.overlay-content {
	color: #fff;
	font-size: 20px;
	text-align: center;
}

#current-date{
	width:130px;
	color:#fff;
}
