html,
body{
	height: 100%;
	background-size: cover;
	padding-top: 0px;
	font-family: proxima-nova;
	font-style: normal;
	font-size: 18px;
	color:#5e5e5e;

}
#sleep,#food,#stress,#daily{
	margin-top: 60px;
}
#placeholder{
	font-family: proxima-nova;
	font-style: normal;
	font-size: 16px;
	color:#5e5e5e;
}
#popover{
	font-family: proxima-nova;
	font-style: normal;
	font-size: 16px;
	color:#5e5e5e;
	width: 100%;
}

#body1{
padding-top: 10px;
}

#user-inputs{
	display: flex;
	align-items: center;
	background-size: cover;
	color: rgba(0,0,0,0.5);
	margin-top: 50px;
	
}
#header{
	margin-left:24%;
}
#Registration_header{
	margin-left:20%;
}
#form_margin{
	padding-top:0px !important;
}

 .head{
	width: 355px;
	text-align: center;	
	color: white;
	font-family: futura-pt;
	font-style: normal;
	font-size:22px;

	
}
#user-inputs .user-inputs-form{
	background-color:#dddddd;
	border-radius: 20px;
    padding: 6px;
    align-content: center;
    color:black;

}
#user-inputs .user-inputs-form input.form-control{
	height: 28px;
}
#user-inputs .user-inputs-form .button1{
margin-top: 0px;
}
#user-inputs .user-inputs-form .padding{
	padding: 10px;
	margin-left: -10px;
	font-family: Proxima-Nova;
	font-style: normal;
	font-size: 16px;
	color:#5e5e5e;
}
// @media (min-width: 1024px) {

// form.user-inputs-form.bootstrap_validator{
//     margin-left: 180px;
// }
// }

@media (max-width: 1023px) {
#quick_btn{
	margin-left:27px;
}
#full_btn{
	margin-left: 40px;
}
#body1{
	padding-top: 30px;
}
.arrows{
	margin-right: 60px;
}
.form-control {
    font-size: 14px;
  }
	#placeholder{
		font-family: proxima-nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
	}
   #user-inputs .user-inputs-form{
	background-color:#dddddd;
	border-radius: 20px;
    align-content: center;
    padding:6px;

	}

	#popover{
	font-family: proxima-nova;
	font-style: normal;
	font-size: 16px;
	color:#5e5e5e;
     }
	.head{	
	width: 233px;	
	text-align: center;
	color: white;
	font-family: futura-pt;
	font-size: small;
	font-style: normal;
	}
	#header{
	margin-left:16%;
}


	#navlink{
	color:#EAFFFF;
	margin-top: 0px;
	padding: 3px 3px;
    font-size: 16px;
    font-family: futura-pt;
      }
	.input{
		padding:0px ;
		font-family: Proxima-Nova;
		font-style: normal;
		 font-size: 14px;
		color:#5e5e5e;
		width:100%; 
	}
	.input1{
		padding:0px 0px 0px 23px;
		font-family: Proxima-Nova;
		font-style: normal;
		 font-size: 14px;
		color:#5e5e5e;
	}
	.nav1{
		width: 100%;
		 top:0; 
		 left:0;
		 right:0;	 
	    z-index:100;
	   	
	}
	.btn2{
		padding: 4px 6px;
	}
	.date{
	padding:10px;
	}
	.toggler{
		color: white;
		float: left;
	}
	h3{
		text-align:center;
		padding-top:8px;
		font-family: proxima-nova;
		font-size: 20px;
		font-style:normal;
       color:#103047;

	}
	#hours,#minutes{
		float: left;
		margin-left: 23px;
		width:41%;
		position: relative;
	}
#bed_min{
		width:100% !important;
	}
	#bed_hr{
		width:100% !important;
	}
	.un_process_food h2{
		text-align:center;
		padding-top:20px;
	}
	.dark{
		font-size:12px;
		align-items: center;
		text-align: center;

	}
	#padd{
		padding-top:17px;
	}
	#current-date{
	width:125px;
	color:#fff;
	padding-left: 10px;
	}
	.toast-popup{
	z-index: 101;
	width:100%;
	left:0;
	right:0;
	}
	#text{
	padding-left: 0px;
	}
	#calendar{
		width:101px;
		color:#fff;
		padding-left: 5px;
		margin-left: -10px;
	}
	#info2{
		margin-left: -15px;
	}
	.unprocess_food{
	padding: 20px 20px 10px 43px;
	}
	.container-fluid{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
}
#navbarbrand{
	max-width: 200px;
	margin-right: 35px;
}
.infoBtn{
	color: white;
	font-size:17px;
	margin-left: 5px;
}
input, textarea {
    font-size: initial;
}
.tablecenter1{
	width: 330px;
	overflow-x: scroll;
}
.close{
	font-size: 30px !important;
	font-weight: bold;
	background-color: none;
	border-color: none;
}

}

h3{
		text-align:center;
		padding-top:8px;
		font-family: proxima-nova;
		font-size: 20px;
		font-style:normal;
       color:#103047;
	}

.display_flex{
	display:inline-flex;
	width:100%;
	margin-left:3%;
}
.align_width{
	width:25%;
	
}
.align_width_time{
width:20%;
margin-left:2%;
}
	.input{
		padding:0px ;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 18px;
		color:#5e5e5e;
	}
	.input1{
		padding:0px ;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 18px;
		color:#5e5e5e;
	}

	.LAbel{		
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
	}
	
	#navlink{
		color:#EAFFFF;
		padding:3px 9px;
		font-size: 17px;
		font-family: futura-pt;
	}
	#navlink1{
		color:#EAFFFF;
		padding:3px 0px;
		font-size: 17px;
		font-family: futura-pt;
	}

	.nav1 {
	  top:0; 	
	  z-index:100;
	  width: 100%;
	  left: 0;
	  right: 0;
	  
	}
	

	.un_process_food h2{
		text-align:center;
		padding-top:20px;
	}
	#hours,#minutes{
		float: left;
		margin-left: 10px;
		width:45%;
		position: relative;
	}
	


	.dark{
		font-size:12px;
		align-items: center;
		text-align: center;
	}
	#btn1{
		font-family:futura-pt;
		background-color: rgb(237, 149, 7);
		border-radius: 0px;
		border-color: rgb(237, 149, 7);
		height: 54px;
		padding: 0px 20px;
		font-size: 14px;
	}
	.btn1{
		padding:0px 0px 0px 40px ;
	}
	.btn2{
		
		padding: 1px 0px;
	}	
	#padd{
		padding-top:17px;
	}
	.date{
		margin: auto;
		padding-left: 10px;
		color: white;
	}
	#abbri{
		text-decoration: none;
	}
	.quickreport_class{
		background-color: #f4f5f5;
		margin:15px 0px 20px 100px;
		padding-left: 29px;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
		border-collapse: collapse;
	    border-color: #f4f5f5;
	}
	.fullreport_class{
		background-color: #f4f5f5;
		margin:15px 0px 20px 130px;
		padding-left: 29px;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
		border-collapse: collapse;
	    border-color: #f4f5f5;
	}
	.radio1{
		background-color: #f4f5f5;
		margin:0px 6px;
		padding-left: 29px;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
		border-collapse: collapse;
	    border-color: #f4f5f5;
	}
	.radio2{
		border-color: #f4f5f5; 
		border-collapse: collapse;
		background-color: #f4f5f5;
		padding-left: 35px;
		font-family: Proxima-Nova;
		font-style: normal;
		font-size: 16px;
		color:#5e5e5e;
	}
	.work_hard{
		padding-left: 33px;
	}
	#calender{
		background-color: #292C2E;
	}
	.overlay{
	    height: 100%;
	    width: 100%;
	    position: fixed;
	    left: 0;
	    top: 0;
	    background-color: rgb(0,0,0); /* Black fallback color */
	    background-color: rgba(0,0,0, 0.8); /* Black w/opacity */
	    overflow-x: hidden;
    	z-index: 101;

	}

.overlay-content {
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.unprocess_food{
	padding: 20px 20px 10px 43px;
}
#calendar{
	width:152px;
	color:#fff;
	padding-left: 5px;
}
.toast-popup{
	z-index: 101;
}
#text{
padding-left: 0px;
}
.container-fluid{
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 0px;
}
.nav3 .navbar{
background-color:gray;
}
abbr{
	background-color: white;
}
textarea.form-control{
	min-height:100px !important;
	max-height:1000px !important;
}

.react-datepicker__time-list{
	padding:0px
}
.react-datepicker__time-container .react-datepicker__time 
.react-datepicker__time-box ul.react-datepicker__time-list{
	padding-right:0px;
}
#datepicker{
	color:black;
	padding:0.5rem 0.75rem;
	border-radius:5px;
	font-size:13px;
	width:100%;
}
.container{
	max-width:760px;
}
#navbarbrand{
	max-width: 200px;
}
#nav-btn{
	font-family:futura-pt;
    background-color: rgb(237, 149, 7);
	border-radius: 0px;
	border-color: rgb(237, 149, 7);		
	font-size: 13px;
	height: 34px;
	color: white;
}
.pop{
	z-index: 0 !important;
}
#logout{
	font-family: proxima-nova;
	font-style: normal;
	font-size: 17px;
}

.infoBtn{
	color: white;
	font-size: 21px;
	margin-left: 7px;
}

.input1 thead,tr,td,th{
	border: 1px solid #5e5e5e;
	text-align: center;
	
}
.modalcontent{
	margin-left: 20px;
	margin-right: 20px;
	font-size: 18px;
}
#sleep_wearable{
	border:1px solid black;
	
}
@media (max-width: 1010px){
	#nav-btn{
		font-size: 12px;
	}
}


@media print {
  body * {
    visibility: hidden;
  }
  #modal1, #modal1 * {
    visibility: visible;
  }
  #modal1 {
    position: absolute;
    left: 0;
    top: 0;
  }
}
@media print {
  body * {
    visibility: hidden;
  }
 #modal2, #modal2 * {
    visibility: visible;
  }
  #modal2 {
    position: absolute;
    left: 0;
    top:-100;
  }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
	.display_flex{
	display:block;
	margin-left:4%;
	width:100%;
}
.align_width1{
	width:50%;
	margin-left:2%;
}
.margin_tp{
	margin-top:3%;
}
}
button.close{
	margin-left: 265px;
	font-size: 30px;
	font-weight: bold;
	background-color: none;
	border-color: none;
}


#duplicate_info_modal_text, #activity_steps_type_modal_text, #delete_info_modal_text, #activitySteps_info_modal_body, #steps_type_info_modal_body{
  font-family: proxima-nova;
  font-style: normal;
  font-size: 16px;
  color: #5e5e5e;
}
#activityStepsTypeModalWindow .modal-header {
    padding: 4px 8px !important;
    border-bottom: 0px !important;
}