.tbc{
	background-color: cadetblue;
	margin-top: 50px;
}
table th{
	min-width: 100px;
	text-align: center;
}
tbody td{
	vertical-align: middle !important; 
}
tbody th{
	vertical-align: middle !important;
	text-align: center;
}
.colorgreen{
	
	background-color: green;
}
.coloryellow{
	background-color:yellow;
}
.colorred{
	background-color:red;
}
.weekly_grade h2.weekly_grade_title{
	margin-top: 50px;
}