.tbcw{
	padding: 95px 0px 20px 0px;
    text-align: center;
}
#tbcw1 th{
	border: 1px solid red;
	text-align: center;
	font-size: 12px;
}


#tbcw1 tr{
	border: 1px solid red;
	text-align: center;
	font-size: 12px;
}

#tbcw1 td{
	border: 1px solid red;
	text-align: center;
	font-size: 12px;
}

