<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Uniocde -->
    <meta charset="utf-8">
    <!-- IE Compatiblity -->
    <meta http-equiv="X-UA Compatible" content="IE=edge">
    <!-- First Mobile Meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    
    <!-- Title Of template -->
    <title>Health And Wellness</title>
    <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="plugins\bootstrap-datepicker-master\dist\css\bootstrap-datepicker.min.css">

    <link rel="stylesheet" type="text/css" href="plugins\icheck\skins\all.css">
    <link rel="stylesheet" type="text/css" href="css\select2.min.css">
    <link rel="stylesheet" type="text/css" href="css\bootstrapValidator.min.css">

    <!--[if IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![End if] -->

  </head>
  <body>
<!-- navbar start -->
<nav class="navbar  navbar-toggleable-md navbar-light bg-faded fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">Health And Wellness</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="index.html">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user_inputs.html">User Inputs</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="login.html">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="registration.html">Registration</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="dashboard_summary.html">Dashoard</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>  <!-- end navbar -->


<!-- login start -->

     <section id="reset">
      <div class="container">
         <h2 class="head">Reset your password</h2>
            <div class="row justify-content-center">
                 <form  class="reset_password col-sm-12 col-md-6 col-lg-4 token_validator" action="" method="" data-toggle="validator" role="form">
                  <div class="form-group">
                    <label class="padding">Enter your new password details</label>
                    <input class="form-control" id="password" placeholder="New Password" name="password" type="password">
                    </div>
                    <div class="form-group">
                    <input class="form-control" placeholder="Confirm New Password" name="confirmpassword" type="password">
                    </div>
                    <a href="" class="btn  btn-block btn-primary">Submit To Reset Password</a>
                   </div>
                </form>
        </div>
       </div>
     </section>
<!-- login end -->

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
   <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="plugins/moment.min.js"></script>
    <script type="text/javascript" src="plugins\bootstrap-datepicker-master\dist\js\bootstrap-datepicker.min.js"></script>
    <script src="js/script.js"></script>
      <script type="text/javascript" src="plugins\icheck\icheck.js"></script>
      <script type="text/javascript" src="js\select2.min.js"></script>
      <script type="text/javascript" src="js\bootstrapValidator.min.js"></script>
    <script src="js/script.js"></script>
  </body>
</html>